.App {
  text-align: center;
  background-color: blueviolet;
}

#button1 {
  color: white;
  background-color: orangered;
  display: inline-block;
  text-align: center;
  font-size: 28pt;
  border: 2px solid white;
}

p {
  color: blue;
  background-color: white;  
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
 
}

#button1:active {
  background-color: orangered;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#buttondiv {

  text-align: center;

}

body {
  background-color: rgb(254, 252, 252);
}